{
  "title": "RDS Metrics",
  "timezone": "browser",
  "schemaVersion": 38,
  "version": 1,


  "panels": [
    {
      "type": "timeseries",
      "title": "DB CPU Utilization",
      "datasource": {
        "type": "cloudwatch"
      },
      "targets": [
        {
          "namespace": "AWS/RDS",
          "metricName": "CPUUtilization",
          "statistics": ["Average"],
          "region": "{{ aws_region }}",
          "dimensions": {
            "DBInstanceIdentifier": "{{ db_instance_id }}"
          }
        }
      ],


      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 0
      }

    },



    {
      "type": "timeseries",
      "title": "DB Connections",
      "datasource": {
        "type": "cloudwatch"
      },
      "targets": [
        {
          "namespace": "AWS/RDS",
          "metricName": "DatabaseConnections",
          "statistics": ["Average"],
          "region": "{{ aws_region }}",
          "dimensions": {
            "DBInstanceIdentifier": "{{ db_instance_id }}"
          }
        }
      ],


      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 0
      }
    },


    {
      "type": "timeseries",
      "title": "Free Storage Space",
      "datasource": {
        "type": "cloudwatch"
      },
      "targets": [
        {
          "namespace": "AWS/RDS",
          "metricName": "FreeStorageSpace",
          "statistics": ["Average"],
          "region": "{{ aws_region }}",
          "dimensions": {
            "DBInstanceIdentifier": "{{ db_instance_id }}"
          }
        }
      ],


      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 8
      }
    },


    {
      "type": "timeseries",
      "title": "Read Latency",
      "datasource": {
        "type": "cloudwatch"
      },
      "targets": [
        {
          "namespace": "AWS/RDS",
          "metricName": "ReadLatency",
          "statistics": ["Average"],
          "region": "{{ aws_region }}",
          "dimensions": {
            "DBInstanceIdentifier": "{{ db_instance_id }}"
          }
        }
      ],


      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 8
      }
    }
  ]
}