{
  "title": "SLI/SLO Overview",
  "timezone": "browser",
  "schemaVersion": 38,
  "version": 1,

  "panels": [

    {
      "type": "stat",

      "title": "Availability SLI (%)",

      "datasource": {
        "type": "cloudwatch"
      },

      "targets": [
        {
          "namespace": "AWS/ApplicationELB",
          "metricName": "HealthyHostCount",
          "statistics": ["Average"],

          "region": "{{ region_aws }}",

          "dimensions": {
            "LoadBalancer": "{{ alb_arn_suffix }}"
          }
        }
      ],

      "gridPos": {
        "h": 6,
        "w": 6,
        "x": 0,
        "y": 0
      }
    },



    {
      "type": "timeseries",

      "title": "HTTP 5XX Error Rate Count",

      "datasource": {
        "type": "cloudwatch"
      },

      "targets": [
        {
          "namespace": "AWS/ApplicationELB",
          "metricName": "HTTPCode_Target_5XX_Count",
          "statistics": ["Sum"],

          "region": "{{ region_aws }}",

          "dimensions": {
            "LoadBalancer": "{{ alb_arn_suffix }}"
          }
        }
      ],

      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 6,
        "y": 0
      }
    },



    {
      "type": "timeseries",

      "title": "Target Response Time",

      "datasource": {
        "type": "cloudwatch"
      },

      "targets": [
        {
          "namespace": "AWS/ApplicationELB",
          "metricName": "TargetResponseTime",
          "statistics": ["Average"],

          "region": "{{ region_aws }}",

          "dimensions": {
            "LoadBalancer": "{{ alb_arn_suffix }}"
          }
        }
      ],

      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 8
      }
    },


    {
      "type": "stat",

      "title": "Running ECS Tasks",

      "datasource": {
        "type": "cloudwatch"
      },

      "targets": [
        {
          "namespace": "AWS/ECS",
          "metricName": "RunningTaskCount",
          "statistics": ["Average"],

          "region": "{{ region_aws }}",

          "dimensions": {
            "ClusterName": "{{ cluster_name }}",
            "ServiceName": "{{ service_name }}"
          }
        }
      ],

      "gridPos": {
        "h": 6,
        "w": 6,
        "x": 12,
        "y": 8
      }
    },



     {
      "type": "timeseries",

      "title": "ALB Request Count",

      "datasource": {
        "type": "cloudwatch"
      },

      "targets": [
        {
          "namespace": "AWS/ApplicationELB",
          "metricName": "RequestCount",
          "statistics": ["Sum"],

          "region": "{{ region_aws }}",

          "dimensions": {
            "LoadBalancer": "{{ alb_arn_suffix }}"
          }
        }
      ],

      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 16
      }
    },



     {
      "type": "gauge",

      "title": "Error Budget Consumption",

      "datasource": {
        "type": "cloudwatch"
      },

      "targets": [
        {
          "namespace": "AWS/ApplicationELB",
          "metricName": "HTTPCode_Target_5XX_Count",
          "statistics": ["Sum"],

          "region": "{{ region_aws }}",

          "dimensions": {
            "LoadBalancer": "{{ alb_arn_suffix }}"
          }
        }
      ],


      "fieldConfig": {
        "defaults": {
            "min": 0,
            "max": 100
        }
       },




      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 16
      }
    }
   ]
   }